Option {
    align: left top;
    margin-right: 4;
}

OptionContainer {
    height: auto;
    layout: horizontal;
    border: solid grey;
    margin-left: 5;
}


FieldWidget {
    layout: horizontal;
}

FieldWidget Label {
    content-align: left middle;
    height: 100%;
}

FieldWidget Input {
    min-width:40;
    width:auto;
}

#field_key {
    margin-top: 3;
    margin-left: 1;
    text-style: bold;
}
